/* Reset/Base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Page body */
body {
    font-family: 'Courier New', Courier, monospace;
    line-height: normal;
    background-color: lavender;
    color: black;
}

/* Layout */

header {
    background: yellow;
    color: black;
    padding: 1rem;
}
/* 1rem = 16px */
main {
    padding: 1rem;
}

footer {
    text-align: center;
    padding: 16px;
    background: violet;
    color: black;
}

/* Text and Links */

.btn-home {
    padding: 16px; /* space inside the button */
    background: rosybrown; /* button color */
    color: white; /* text color */
    text-decoration: none; /* remove underline from links */
    border: 2px solid gray ; /* black border */
    border-radius: 5px; /* optional rounded corners */ 
    display: inline-block; /* ensures padding and border work correctly */
}

h1 {
    margin-top: 32px;
    margin-bottom: 48px;
    text-align: center;
}

h3 {
    margin: 16px;
    text-align: center;
}

p {
    margin: 16px;
    text-align: center;
}

ul {
    width: fit-content;
    margin: 0 auto;
}

ol {
    width: fit-content;
    margin: 0 auto;
}

li {
    margin: 16px;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
}
/* Utility classes */