/* Reset/Base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Page body */
body {
    font-family: 'Courier New', Courier, monospace;
    line-height: normal;
    background-color: lavender;
    color: black;
}

/* Layout */

header {
    background: yellow;
    color: black;
    padding: 1rem;
}
/* 1rem = 16px */
main {
    padding: 1rem;
}

footer {
    text-align: center;
    padding: 16px;
    background: violet;
    color: black;
}

/* Text and Links */

h1 {
    margin-top: 32px;
    margin-bottom: 48px;
    text-align: center;
}

h3 {
    margin: 16px;
    text-align: center;
}

li {
    margin: 16px;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
}
/* Utility classes */